form{
    width:30%;
    margin: auto;
  
}
button{
    margin: 5px;
}
label{
    font-size:larger ;
}
#f{
    position: relative;
    background-color: white;
    opacity: 0.95;
    margin-right: 30vw;
    margin-top: 2vh;
    width: 40vw;
    height: 80vh;
    border-radius: 5%;
    top: 25vh;
    box-shadow: rgb(0 0 0 / 35%) 0px 5px 15px;
}
// #divCccc{
//     position: absolute;
// margin-top:13%;
// margin-right: 22%;
// }
// #imgBackround{
//     position: relative;
//     margin: 0%,auto;
//     background-image: url('../../assets/pppp.jpg');
  
// }