<div>
    <h1>שלום {{personFirstName}} {{ personLastName}}</h1>
    <h3>הנך מתבקש/ת למלא את הטופס הבא על פי הכללים הבאים:</h3>

    <ol>
        <li>תעודת זהות בעלת 9 ספרות בלבד</li>
        <li>שם פרטי ומשפחה בנפרד ללא ספרות</li>
        <li>תאריך הלידה המדויק שלך</li>
        <li>מין</li>
        <li>קופת החולים שלך</li>
        <li>פרטי ילדים הרשונים בתעודת הזהות</li>
    </ol>
    <h3>מעונין להוריד קובץ המכיל את הפרטים שהזנת? </h3>
    <button mat-raised-button (click)="downloadFile()">לחץ כאן</button>
</div>